@import "tailwindcss";
@plugin "daisyui";

.text-defile{
    animation: scroll 5s linear infinite;
    white-space: nowrap;
    display: flex;
    width: max-content;

}
@keyframes scroll{
    from{
        transform: translateX(-23%);
    }
    to{
        transform: translateX(0%);
    }
}


body {
overflow-x:hidden 
}

.defile-left{
    animation: scroll-left 10s linear infinite;
    white-space: nowrap;
}
.defile-right{
    animation: scroll-right 10s linear infinite;
    white-space: nowrap;
}

@keyframes scroll-left{
    from{
        transform: translateX(0%);
    }
   to{
        transform: translateX(-50%);
   }
}

@keyframes scroll-right{
    from{
        transform: translateX(-50%);
    }
   to{
        transform: translateX(0%);
   }
}